<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NotifySecurity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="NotifySecurity.Properties.ShieldyStaticSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="NotifySecurity.ShieldyStaticSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="NotifySecurity.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NotifySecurity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <userSettings>
    <NotifySecurity.Properties.Settings>
      <setting name="Security_Team_Mail_cc" serializeAs="String">
        <value>Securitycc &lt;security.cc@mail.com&gt;</value>
      </setting>
      <setting name="Security_Team_Mail_bcc" serializeAs="String">
        <value>Securitybcc &lt;security.bcc@mail.com&gt;</value>
      </setting>
      <setting name="SwordphishURL" serializeAs="String">
        <value>https://swordphish.domain.com/</value>
      </setting>
      <setting name="SwordPhishHeader" serializeAs="String">
        <value>X-Swordphish-Awareness-Campaign</value>
      </setting>
    </NotifySecurity.Properties.Settings>
    <NotifySecurity.Properties.ShieldyStaticSettings>
      <setting name="XMLsettings_FilePath" serializeAs="String">
        <value>D:\Apps\ShieldyConfig.xml</value>
      </setting>
    </NotifySecurity.Properties.ShieldyStaticSettings>
    <NotifySecurity.ShieldyStaticSettings>
      <setting name="XMLsettings_FilePath" serializeAs="String">
        <value>D:\ShieldyConfig.xml</value>
      </setting>
    </NotifySecurity.ShieldyStaticSettings>
  </userSettings>
  <applicationSettings>
    <NotifySecurity.Properties.Settings>
      <setting name="Security_Team_Mail" serializeAs="String">
        <value>Security &lt;security@mail.com&gt;</value>
      </setting>
    </NotifySecurity.Properties.Settings>
  </applicationSettings>
</configuration>
